{{!< 2017-projectTemplate}}

<main class="case-study">
  <heading class="case-study-header">
      <div class="meta-data">
        <h1>Kerosene</h1>
        <h2><a href="http://voyager.studio/apollo" target="_blank"  title="www.voyager.studio/apollo">Visit Website</a></h2>
      </div>
      <p>On the various projects I’ve worked on over the past couple years, I began to notice myself tediously crafting the same visual elements (such as shadows) and applying the same techniques for tasks in Sass. That experience inspired me to craft a suite of SCSS tools to help expedite future work. Kerosene provides just the right amount of handholding without painting me into a corner or making it difficult to override things – that’s what makes it great, in my opinion. Eventually, Kerosene will be used to fuel a small set of components I will use for future Voyager projects under the name of Saturn V. Together with Kerosene fueling Saturn V (pun very much intended), they’ll form Apollo.</p>
    </heading>
    <div class="images">

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/kerosene--masthead.jpg 1x, /assets/images/kerosene--masthead@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/kerosene--masthead@2x.jpg" alt="Masthead">
        <noscript><img src="/assets/images/kerosene--masthead@2x.jpg" alt="Mastheaad"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/kerosene--website.jpg 1x, /assets/images/kerosene--website@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/kerosene--website@2x.jpg" alt="Website for Kerosene">
        <noscript><img src="/assets/images/kerosene--website@2x.jpg" alt="Website for Kerosene"></noscript>
      </picture>

    </div>
</main>