{{!< 2017-projectTemplate}}

<main class="case-study">
  <heading class="case-study-header">
      <div class="meta-data">
        <h1>Artemis</h1>
        <h2><a href="https://projectartemis.xyz" target="_blank"  title="projectartemis.xyz">Visit Website</a></h2>
      </div>
      <p>The core idea behind Artemis was to create a platform that could capitalize on our affinity for the things we choose to collect in our lives. There are many products we buy for their utility, but the things we really care about are the things that reflect on who we are. Artemis is a web application published under Voyager that explores that relationship. As we approach an official release, Artemis, which is currently in beta, will undergo a rebrand exercise under a new name before we launch it to the public (the current frontrunner is cherrypicked.io).</p>
    </heading>
    <div class="images">

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/artemis--masthead.jpg 1x, /assets/images/artemis--masthead@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/artemis--masthead@2x.jpg" alt="Masthead">
        <noscript><img src="/assets/images/artemis--masthead@2x.jpg" alt="Masthead"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/artemis--mobileLanding.jpg 1x, /assets/images/artemis--mobileLanding@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/artemis--mobileLanding@2x.jpg" alt="Mobile Landing Page">
        <noscript><img src="/assets/images/artemis--mobileLanding@2x.jpg" alt="Mobile Landing Page"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/artemis--desktopLanding.jpg 1x, /assets/images/artemis--desktopLanding@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/artemis--desktopLanding@2x.jpg" alt="Desktop landing Page">
        <noscript><img src="/assets/images/artemis--desktopLanding@2x.jpg" alt="Desktop Landing Page"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/artemis--profile.jpg 1x, /assets/images/artemis--profile@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/artemis--profile@2x.jpg" alt="Desktop landing Page">
        <noscript><img src="/assets/images/artemis--profile@2x.jpg" alt="User Profile"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/artemis--product.jpg 1x, /assets/images/artemis--product@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/artemis--product@2x.jpg" alt="Desktop landing Page">
        <noscript><img src="/assets/images/artemis--product@2x.jpg" alt="Product Details page"></noscript>
      </picture>

    </div>
</main>