{{!< 2017-projectTemplate}}

<main class="case-study">
  <heading class="case-study-header">
      <div class="meta-data">
        <h1>Mac OS Dark Mode</h1>
      </div>
      <p>MacOS Darkmode was a personal experiment in practicing visual design so that I could learn the interface design tool Figma. At the time, there was speculation that Apple might release a more advanced dark-mode to merge with night-shift. I wanted to explore what that might look like with a couple of Apple’s stock apps.</p>
    </heading>
    <div class="images">

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/darkMode--masthead.jpg 1x, /assets/images/darkMode--masthead@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/darkMode--masthead@2x.jpg" alt="Masthead - MacOS Sierra Dark Mode">
        <noscript><img src="/assets/images/darkMode--masthead@2x.jpg" alt="Masthead - MacOS Sierra Dark Mode"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/darkMode--finder.jpg 1x, /assets/images/darkMode--finder@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/darkMode--finder@2x.jpg" alt="Dark Mode Finder mockup">
        <noscript><img src="/assets/images/darkMode--finder@2x.jpg" alt="Dark Mode Finder mockup"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/darkMode--calendar.jpg 1x, /assets/images/darkMode--calendar@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/darkMode--calendar@2x.jpg" alt="Dark Mode Finder mockup">
        <noscript><img src="/assets/images/darkMode--calendar@2x.jpg" alt="Dark Mode Finder mockup"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/darkMode--deskMockup.jpg 1x, /assets/images/darkMode--deskMockup@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/darkMode--deskMockup@2x.jpg" alt="Desktop Mockup">
        <noscript><img src="/assets/images/darkMode--deskMockup@2x.jpg" alt="Desktop Mockup"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/darkMode--finderDesktop.jpg 1x, /assets/images/darkMode--finderDesktop@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/darkMode--finderDesktop@2x.jpg" alt="Finder Mockup on Mac OS Desktop">
        <noscript><img src="/assets/images/darkMode--finderDesktop@2x.jpg" alt="Finder Mockup on Mac OS Desktop"></noscript>
      </picture>

      <picture class="picture-set">
        <!-- [if IE 9]><video style="display: none;"><![endif] -->
        <source srcset="/assets/images/darkMode--calendarDesktop.jpg 1x, /assets/images/darkMode--calendarDesktop@2x.jpg 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/images/darkMode--calendarDesktop@2x.jpg" alt="Calendar Mockup on Mac OS Desktop">
        <noscript><img src="/assets/images/darkMode--calendarDesktop@2x.jpg" alt="Calendar Mockup on Mac OS Desktop"></noscript>
      </picture>

    </div>
</main>