{{!< default}}

<h1>Hello World from <code>spaceghost MK 0.0.1</code></h1>
<p>Yeah, I know. this is rough. I'm using what seems to be a great starting place, the pale ghost theme by <a href="https://www.nahuelsanchez.com">Nahuel Sanchez</a> to get started with ghost. Watch this space, it's going to be dope.</p>