<aside class="master-aside">
    <header class="master-header">
      <h1><a href="{{@blog.url}}">T. Bryant</a></h1>
    </header>
    <nav class="master-nav">
      <h2>Projects</h2>
      <ul class="nav-list">
        <li><a href="/projects/voyager" class="{{#if current}}is-current{{/if}}">Voyager</a></li>
        <li><a href="/projects/work-bench" class="{{#if current}}is-current{{/if}}">Work—Bench</a></li>
        <li><a href="/projects/saturn-five" class="{{#if current}}is-current{{/if}}">Kerosene</a></li>
        <li><a href="/projects/cherrypicked" class="{{#if current}}is-current{{/if}}">Artemis</a></li>
        <li><a href="/projects/dark-mode" class="{{#if current}}is-current{{/if}}">Dark Mode</a></li>
        <!-- <li><a href="mailto:redacted@t-bryant.com?subject=Redacted Case Study&body=Hey Taurean! I was hoping you could share the redacted project in your portfolio. Thanks!">Redacted</a></li>
         <li><a href="redacted.html">Redacted</a></li> -->
      </ul>
      <!-- <h2>Extras</h2>
      <ul class="nav-list">
        <li><a href="index.html">Home</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul> -->
    </nav>
  </aside>